.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  border-radius: 25px;
}

@media (prefers-reduced-motion: no-preference) {
  /*.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }*/
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    /* overflow-y: hidden; */
    
}
::-webkit-scrollbar {display:none;}
form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
  font-family:  sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(79, 98, 148);
  min-width: 300px;
  letter-spacing: 5px;
}
h3{
  margin: 0;
  color: #000000;
  font-weight: 100;
  margin: 0 15px;
}
a {
  color:rgb(0, 0, 0);
  font-size: 13px;
}
.form {
  background: #f5f5f5;
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #bf1650;
  font-size: 14px;
}

p::before {
  display: inline;
  content: "⚠ ";
}

input {
  background-color: #ffffff;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 0.5px solid rgb(0, 0, 0);
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #000000;
}
input[type="number"]:disabled {
  background: #393939;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  /* margin-bottom: 13px; */
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 200;
}
label[for="rcnumber"]{
  font-size: 12px;
}

button[type="submit"],
input[type="submit"] {
  background: #e61939;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #e70960;
}

button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

input:disabled {
  opacity: 0.4;
}

input[type="button"]:hover {
  transition: 0.3s all;
}

button[type="submit"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}


button[type="button"] {
  display: block;
  appearance: none;
  background: #333;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}

pre {
  color: white;
}

hr {
  margin-top: 30px;
}

button {
  display: block;
  appearance: none;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
}
.payment_detais_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: auto;
  justify-content: center;
  grid-column: auto;
  padding: 0 5vw;
  margin-bottom: 100px;
}
@media only screen and (max-width: 820px) {
  .payment_detais_container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.card-details{
  width: 100%;
  padding: 0px;
  grid-column-start: 2;
  grid-row-start: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.card_details_container{
  border: 2px solid #333;
  width: 100%;
  padding: 20px;
}


.credit{
  max-width: 500px;
  margin:  auto;
  display: flex;
  align-items: center;
}

.reward{
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.reward-cards{
  color: #000000;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 10px;
}
.rc-card{
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.rc-card span{
  font-size: 14px;
  font-weight: 500;
}
.rc-card button{
  margin: 0;
  cursor: pointer;
  font-size: 8px;
  padding: 0;
  width: 20%;
}
.rewards-certificate{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.rewards-certificate.hide-reward{
  display: none;
}
.rewards-certificate span{
  color:red;
  font-size: 12px;
}
.rewardButtons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: space-between;
  grid-gap: 5px;
  height: 20%;
  margin-bottom: 15px;
}
.rewardButtons button[type="button"]{
  height: 100%;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}
.rewardButtons button[type="submit"]{
  height: 100%;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  letter-spacing: 3px;
  font-size: 12px;
}
/* .rewards-certificate button[type="button"]{
  margin: 0;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
} */

#modal-window{
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  background-color: transparent;
}
.overlay{
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 70%;
  position: inherit;
}
.modal{
  height: 35rem;
  width: 35rem;
  position: absolute;
  z-index: 2;
  background-color: white;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  padding: 20px;
}
.modal_form span{
  font-size: 12px;
  margin: 0 15px;
  color: red;
}
.modal_form label{
  margin-top: 5px;
}
.modal_form button{
  padding: 10px;
}
.cancelModal{
  height: 25px;
  width: 25px;
  color: #000000;
  cursor: pointer;
  position: fixed;
  right: 10px;
}
@media only screen and (max-width: 820px) {
  .modal {
    /* height: 60vh; */
    width: 90vw;
  }
  .modal h1{
    font-size: 1.1rem;
  }
  .modal h3{
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
  .modal_form{
    margin-top: 40px;
  }
  .modal_form span{
    font-size: 12px;
    text-align: left;
    color: red;
  }
  button[type="submit"]{
    padding: 12px;
    width: 100%;
  }
  .cancelModal{
    height: 20px;
    width: 20px;
    top: 12px;
  }
}

.modal-window{
  display: flex;
}
.modal-window.hide-modal{
  display: none;
}


.payment_details{
  width: 100%;
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: 400;
  grid-column-start: 3;
  grid-row-start: 1;
  /* font-size: 20px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}
.payment_details h4{
  font-weight: bold;
  margin-top: 120px;
  letter-spacing: 3px;
  font-family: sans-serif;
}
.payment_span{
  margin: 4px 30px;
}
@media only screen and (max-width: 820px) {
  .payment_details h4 {
    margin-top: 20px;
  }
 .payment_span{
    margin: 4px 0;
  }
}
.payment_details span{
  font-family: sans-serif;
  font-size: 14px;
  color: #000000;
  text-align: start;
  display: flex;
  justify-content: space-between;
  /* margin: 2px 0; */
}

.error{
  color: red;
  font-size: medium;
}

.loader_container{
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  background-color: transparent;
}
.loader_overlay{
  height: 100%;
  width: 100%;
  background-color: #050505;
  opacity: 80%;
  position: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader_circle{
  margin: 70px auto;
  width: 60px;
  height: 60px;
  /* background-color: #000000; */
  border: 5px solid rgb(67, 67, 67);
  border-radius: 50%;
  border-top-color: rgb(255, 255, 255);
  animation: spin 1s linear infinite;
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}

.backToStore a{
  text-align: center;
  font-size: 18px;
}

.footer{
  width: 100vw;
  height: 25vh;
  background-color: #050505;
  /* z-index: -1; */
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* position: absolute; */
}
.footer div{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items:center ;
  text-align: center;
}
.footer div a{
  color: #ffffff;
}
.footer div h3{
  color: #ffffff;

}
@media only screen and (max-width: 820px) {
  .footer div h3{
    font-size: 12px;
  }
}



/* ///////////////////////////// */
.overlay-modal-container{
  height: 100%;
  width: 100%;
  position: absolute;  
  grid-column-start: 2;
  grid-row-start: 1 ;
}
.overlay-modal{
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    position: inherit; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.overlay-modal-text-content p{
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  /* text-shadow: 1px 1px #000000; */
}
.overlay-message{
  position: fixed;
  color: white;
  margin-bottom: 126px;
  font-size: 32px;
}
@media only screen and (max-width : 820px) {
 
  .overlay-modal{
    padding: 100px 0;
  }
  .overlay-modal-text-content a{
    font-size: 20px;
  }
}

.spinner{
  margin-right: 7px;
  width: 20px;
  height: 20px;
  /* background-color: #000000; */
  border: 2px solid rgb(67, 67, 67);
  border-radius: 50%;
  border-top-color: rgb(255, 255, 255);
  animation: spin 1s linear infinite;
}
@keyframes spin{
  100%{
    transform: rotate(360deg);
  }
}


.balance_sec h2{
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 15px;
  color: #000000;
}
.balance_sec h3{
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: left;
  margin: 0 15px;
}

.btn_group{
  display: flex;
  margin: 50px 10px;
}
.btn_group button:nth-child(2){
  background-color: white;
  color: #000000;
}
.btn_group button:nth-child(2):hover{
  background-color: black;
  color: white;
}
.btn_group button{
  color:white;
  display: flex;
  margin: 0 10px;
  cursor: pointer;
  background-color: #000000;
  font-family: sans-serif;
  letter-spacing: 2px;
}

@media only screen and (max-width : 820px) {
  .btn_group button{
    margin: 0 5px;
    cursor: pointer;
    background-color: #000000;
    font-family: sans-serif;
    letter-spacing: 0px;
    font-size: 10px;
  }
  .btn_group{
    display: flex;
    margin: 25px 0px;
  }
  
}

.overlay-error-modal-container{
  height: 60vh;
  width: 100vw;
  /* position: absolute; */
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1 ;
  color: #282c34;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* transform: translateX(-35vw); */
}
.overlay-error-modal-container h1{
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}
.overlay-error-modal-container h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}

@media only screen and (max-width : 820px) {
  /* .overlay-error-modal-container{
    height: 160%;
    width: 100%;
    position: absolute;
    z-index: 3;
    transform: translateY(-10%);
    transform: translateX(0);
    bottom: 0;
  } */
}
